__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
.coverage
.pytest_cache/
.mypy_cache/
.DS_Store
*.log